/* ----- CFG GLOBAL ----- */
body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    background: linear-gradient(to bottom, var(--AzulEscuro), var(--AzulCéu), var(--AzulGelo));
}

:root {
    --AzulCéu: #0092D8;
    --AzulGelo: #00C0F3;
    --BrancoNeve: #ebebeb;
    --AmareloPinguim: #FFEC00;
    --CinzaClaro: #C7D6DF;
    --AzulEscuro: #005B9E;
}

header {
    /* border: 1px solid black; */
    display: flex;
    background-color: var(--AzulEscuro);
    padding: 20px;
    box-shadow: 0px 0px 10px black;
}

header nav {
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /* border: 1px solid rgb(187, 22, 22); */
    display: flex;
    width: 20%;
    height: 40px;
}
#logoImagem {
    /* border: 1px solid blue; */
    background-image: url(../logo/johndeere-memoria-01-logo.png);
    height: 40px;
    width: 120px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.tour {
    /* border: 1px solid rgb(26, 156, 26); */
    display: flex;
    flex-direction: row;
    font-size: 24px;
    height: 40px;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}
.tour a {
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.botoes {
    /* border: 1px solid rgb(20, 112, 173); */
    display: flex;
    height: 40px;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.botoes button {
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    border: none;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    border-radius: 5px;
}
.botoes #loginButton {
    background-color: var(--AzulCéu);
}
#loginButton:hover {
    background-color: #0f6891;
    transition: 0.3s;
}
#divisor {
    border: 1px solid rgb(24, 24, 24);
    height: 40px;
}
.botoes #cadastroButton {
    background-color: var(--AmareloPinguim);
}
#cadastroButton:hover {
    background-color: #d3c82b;
    transition: 0.3s;
}

.container {
    /* border: 1px solid green; */
    padding: 40px;
    height: 100%;
}
.banner {
    border: 2px solid black;
    border-radius: 50px;
    width: 100%;
    height: 400px;
    background-image: url(../imgs/BannerIndex.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    margin-bottom: 20px;
}

#introducao {
    /* border: 2px solid black; */
    background-color: #005c9e6b;
    border-radius: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}
#introducao .pt1 {
    /* border: 2px solid pink; */
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 60%;
}
.pt1 h2 {
    font-size: 50px;
    font-weight: 100;
    margin-left: 25px;
}
.pt1 p {
    font-size: 24px;
}
.pt1 button {
    height: 50px;
    width: 25%;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 20px 40%;
    background-color: var(--AmareloPinguim);
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.pt1 button:hover {
    background-color: #d3c82b;
    transition: 0.3s;
}
#introducao .memory-card {
    /* border: 2px solid purple; */
    display: flex;
    align-self: center;
    background-image: url(../imgs/MemoryCard.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 40%;
}
#mini-game {
    /* border: 2px solid gold; */
    background-color: #005c9e6b;
    border-radius: 80px;
    padding: 10px 0 15px 0;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}
#mini-game h2 {
    /* border: 2px solid salmon; */
    display: flex;
    font-size: 50px;
    font-weight: 100;
    justify-content: center;
}
#mini-game .conteudo {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.conteudo h3 {
    display: flex;
    font-size: 30px;
    font-weight: 100;
    justify-content: center;
    text-decoration: underline;
    color: var(--AmareloPinguim);
}
.conteudo p {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
    text-align: center;
}
.conteudo .pt3 {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 10px;
}
.conteudo .dash {
    /* border: 2px solid blueviolet; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.conteudo .ranking {
    /* border: 2px solid palevioletred; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

#sobre {
    /* border: 2px solid gray; */
    background-color: #005c9e6b;
    border-radius: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
#sobre .img3 {
    /* border: 2px solid purple; */
    display: flex;
    align-self: center;
    background-image: url(../imgs/MemoryCardRules.PNG.webp);
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 40%;
    margin-left: 40px;
}
#sobre h2 {
    font-size: 50px;
    font-weight: 100;
    margin-left: 25px;
}
#sobre .pt2 {
    /* border: 2px solid pink; */
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 60%;
}
#sobre .pt2 p {
    font-size: 24px;
}
.pt2 a {
    color: var(--AmareloPinguim);
    text-decoration: dashed;
}

.mini-game {

}

footer {
    border: 1px solid black;
    display: flex;
    background-color: var(--AzulCéu);
    padding: 40px;
    box-shadow: 0px 0px 10px black;
}

.footer-container {
    /* border: 2px solid black; */
    justify-content: center;
    width: 100%;
}
.footer-container p {
    /* border: 2px solid pink; */
    font-size: 17px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

